/* Font Styles */
.paytone-one-regular {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: #31231E;
    margin: auto;
    max-width: 60%;
}

/* Layout Classes */
.centered {
    margin: auto;
}

/* Image Style */
img {
    max-width: 25%;
    height: auto;
    border: #214e34 solid 0.5em;
    display: inline-block;
}

.longimage {
    max-width: 15%;
}

/* Headers and Navigation */
header, nav, #blurb {
    padding: 1em;
    text-align: center;
    color: #F7F4F3;
}

nav, #blurb, #content {
    border-radius: 1.5em;
}

nav, .skip {
    background-color: #7CAE7A;
}

a, .active:hover {
    color: #F7F4F3;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #214e34;
    text-decoration: none; 
}

.active {
    color: #214e34;
}

.skip {
    position:absolute;
    top: -5em;
    padding: 1em;
}

.skip:focus {
    top: 0;
}

/* Section Styles */
#blurb {
    background-color: #5A3A31;
    padding: 1em;
}

#content {
    background-color: #F7F4F3;
    overflow: auto;
}

#portrait {
    max-width: 25%;
    display: block;
}

#bio {
    max-width: 80%;
    text-indent: 2em;
}

.text {
    text-align: justify;
    text-justify: inter-word;
}

/* Layout Classes */
.leftright, .rightleft {
    clear: both;
    padding: 1.2em;
    overflow: auto;
    display: flex;

    p {
        margin: auto;
        text-align: center;
    }
}

.leftright {
    img {
        margin-right: 1em;
    }
}

.rightleft {
    background-color: #214E34;
    color: #F7F4F3;

    img {
        order: 2;
        border: #F7F4F3 solid 0.5em;
        margin-left: 1em;
    }
}